<div class="fixed top-0 right-0 p-4">
    <label class="toggle text-base-content">
        <input type="checkbox" value="dark" class="theme-controller" />
        {{ ux_icon('lucide:sun') }}
        {{ ux_icon('lucide:moon') }}
    </label>
</div>
