@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: rgb(34, 185, 154);
    --color-primary-content: rgb(255, 255, 255);
    --color-secondary: rgb(108, 117, 125);
    --card-p: 1rem 1.25rem;
    --font-sans: 'Inter';
}

@plugin "daisyui/theme" {
    name: "dark";
    --color-primary: rgb(34, 185, 154);
    --color-primary-content: rgb(255, 255, 255);
    --color-secondary: rgb(108, 117, 125);
    --card-p: 1rem 1.25rem;
    --font-sans: 'Inter';
}

@source "../../templates/**/*.html.twig";
@source "../../vendor/symfony/twig-bridge/Resources/views/Form/tailwind_2_layout.html.twig";

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype-variations');
    font-weight: 1 999;
}

.page {
    @apply container mx-auto min-h-screen;
}

.label.required:after {
    @apply text-error content-["*"]
}

.checkbox:checked {
    @apply bg-primary border-primary;
}

.checkbox:before {
    @apply bg-white;
}

.btn {
    @apply font-normal;
}
