@import "tailwindcss";

@plugin "../dist/daisyui.mjs" {
    themes: light --default, dark;
}

@plugin "../dist/daisyui-theme.mjs" {
    name: "light";
    default: true;
    --color-primary: rgb(34, 185, 154);
    --color-primary-content: rgb(255, 255, 255);
    --color-secondary: rgb(108, 117, 125);
    --card-p: 1rem 1.25rem;
    --menu-item-spacing-y: .65rem;
    --menu-item-spacing-x: --spacing(4);
    --font-sans: 'Inter';
    --font-mono: 'Menlo';
}

@plugin "../dist/daisyui-theme.mjs" {
    name: "dark";
    --color-primary: rgb(34, 185, 154);
    --color-primary-content: rgb(255, 255, 255);
    --color-secondary: rgb(108, 117, 125);
    --page-scroll-bg: var(--root-bg);
    --card-p: 1rem 1.25rem;
    --menu-item-spacing-y: .65rem;
    --menu-item-spacing-x: --spacing(4);
    --font-sans: 'Inter';
    --font-mono: 'Menlo';
}

@source "../../templates/**/*.html.twig";
@source "../../vendor/symfony/twig-bridge/Resources/views/Form/tailwind_2_layout.html.twig";

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype-variations');
    font-weight: 1 999;
}

body {
    font-feature-settings: "liga" 0;
    font-feature-settings: "cv03", "cv04", "cv11";
    position: relative;
    text-rendering: optimizeLegibility;
    touch-action: manipulation;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page {
    @apply mx-auto min-h-screen w-full;
}

.label.required:after {
    @apply text-error content-["*"]
}

.checkbox:checked {
    @apply bg-primary border-primary;
}

.checkbox:before {
    @apply bg-white;
}

.btn {
    @apply font-normal;
}

.collapse {
    .menu-item {
        @apply py-(--menu-item-spacing-y) px-(--menu-item-spacing-x) font-medium text-base-content/80 text-[.95rem] hover:text-primary [&:hover>.menu-item-icon]:text-base-content/80 [&:hover::after]:text-base-content/80 [&::after]:inset-shadow-[1px_1px];

        &:hover {
            @apply bg-transparent;
        }

        &:active {
            @apply relative top-px;
        }

        .menu-item-icon {
            @apply opacity-50 size-5 md:hidden lg:inline-block;
        }

        + .collapse-content {
            @apply *:text-sm *:font-light pt-(--menu-item-spacing-y) min-h-11;
            padding-left: calc(var(--spacing) + 1.5rem);
        }
    }

    details[open] {
        .menu-item {
            > span:not(.menu-item-icon) {
                @apply text-primary;
            }
        }
    }
}
